<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.echo"
    version="1.0.2">

	<name>Foo</name>
	<description>Foo plugin description</description>
	<author>Foo plugin description</author>
	<keywords>foo,bar</keywords>
	<license>Apache 2.0 License</license>

	<!-- a single file, to be copied in the root directory 
	<asset src="src/calendar.js" target="js/calendar.js" />-->
	
	<js-module src="src/calendar.js" name="Calendar">
        <clobbers target="window.calendar" />
    	</js-module>

	<platform name="android">
    <!-- android-specific elements -->
	</platform>

	<!-- android src: Location of the file relative to plugin.xml target-dir: A directory into which the files should be copied, relative to the root of the Cordova project-->
	<source-file src="src/calendar.js" target-dir="www/js/" />

</plugin>

